@{
    ViewBag.Title = "Schedule";
}


    <style>
        .jumbotron {
            background-color: lightblue;
        }
    </style>

    <style>
        body {
            background-color: #eee;
        }
    </style>

    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
