
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<style>
    .jumbotron {
        background-color: lightblue;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h5>This Site was created to connect tutors and students.</h5>
    </div>
</div>



