
@{
    ViewBag.Title = "Contact";
}

<style>
    .jumbotron {
        background-color: lightblue;
    }
</style>

<h2>Contact</h2>

<div class="jumbotron">
    <div class="container">
        <h5>If you have any questions or problems related with our service please contact with us: </h5>
        <h5>Email address: support@ilearn.com</h5>
        <h5>Phone number: +36709198901</h5>

    </div>
</div>

