@{
    ViewBag.Title = "Home";
}
<h2>Welcome to ILearn</h2>

<body  background="~/Image/onlineschool.jpg" >
</body>


@if (Request.IsAuthenticated)
{
    <p>Welcome @HttpContext.Current.User.Identity.Name</p>
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}
else
{
    <div>
    @Html.ActionLink("Register Now", "Registration", "User")
    </div>
    <p>@Html.ActionLink("Login", "Login","User")</p>
}