
@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>

<div class="jumbotron" style="background-color:#00F3FF">
    <div class="container">
        <li>Physics - John Doe</li>
        <button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#details-modal-1">Details</button>
        <div class="modal" role="dialog" id="details-modal-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Details</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Class Name - Physics</p>
                            </div>
                            <div class="form-group">
                                <p>Time Table: </p>
                                <p>Monday: 8AM - 10AM</p>
                                <p>Tuesday: 8AM - 10AM</p>
                                <p>Wednesday: 8AM - 10AM</p>
                                <p>Thurday: 8AM - 10AM</p>
                                <p>Friday: 10AM - 13AM</p>
                                <p>Payment - Approved</p>
                                <p>Period: 1 month</p>
                                <p>Start Date: 2020/06/01</p>
                                <p>End Date: 2020/06/30</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <li>Calculus 2 - Rita Smidt</li>
        <button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#details-modal-2">Details</button>
        <div class="modal" role="dialog" id="details-modal-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Details</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Class Name - Calculus 2</p>
                            </div>
                            <div class="form-group">
                                <p>Time Table: </p>
                                <p>Monday: 10AM - 12AM</p>
                                <p>Tuesday: 10AM - 12AM</p>
                                <p>Wednesday: 10AM - 12AM</p>
                                <p>Thurday: 10AM - 12AM</p>
                                <p>Friday: 10AM - 12AM</p>
                                <p>Payment - Approved</p>
                                <p>Period: 1 month</p>
                                <p>Start Date: 2020/06/01</p>
                                <p>End Date: 2020/06/30</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color:#00F3FF">
    <div class="container">
        <li>C++ - Bill Gates</li>
        <button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#details-modal-3">Details</button>
        <div class="modal" role="dialog" id="details-modal-3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Details</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Class Name - C++</p>
                            </div>
                            <div class="form-group">
                                <p>Time Table: </p>
                                <p>Monday: 12AM - 14PM</p>
                                <p>Tuesday: 12AM - 14PM</p>
                                <p>Wednesday: 12AM - 14PM</p>
                                <p>Thurday: 12AM - 14PM</p>
                                <p>Friday: 12AM - 14PM</p>
                                <p>Payment - Approved</p>
                                <p>Period: 1 month</p>
                                <p>Start Date: 2020/06/01</p>
                                <p>End Date: 2020/06/30</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <li>Space Ship Engineering - Tony Stark</li>
        <button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#details-modal-4">Details</button>
        <div class="modal" role="dialog" id="details-modal-4">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Edit</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Class Name - Space Ship Engineering</p>
                            </div>
                            <div class="form-group">
                                <p>Time Table: </p>
                                <p>Monday: 14PM - 16PM</p>
                                <p>Tuesday: 14PM - 16PM</p>
                                <p>Wednesday: 14PM - 16PM</p>
                                <p>Thurday: 14PM - 16PM</p>
                                <p>Friday: 14PM - 16PM</p>
                                <p>Payment - Approved</p>
                                <p>Period: 1 month</p>
                                <p>Start Date: 2020/06/01</p>
                                <p>End Date: 2020/06/30</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <li>Batman - Judo - Bruce Wayne</li>
        <button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#details-modal-5">Details</button>
        <div class="modal" role="dialog" id="details-modal-5">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Edit</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>Class Name - Space Ship Engineering</p>
                            </div>
                            <div class="form-group">
                                <p>Time Table: </p>
                                <p>Monday: 00:35AM - 03:40AM</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



