
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<div class="jumbotron" style="background-color:#00F3FF">
    <div class="container">
        <div class="container inner-container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.google.com" class="view-more">View More</a>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div class="container">
                            <p>
                                <em>
                                    "I am John Doe. I am a professor with 18+ years of teaching. I have BSc degree in Computer Scince,
                                    MSc in Applied Math and PHD in Spaceship Engineering. All of them were graduated with Excellent mark.
                                    Subjects which i teach are Programming Languages(C++,C#,GO,Python,Java, etc.), Physics, Math and
                                    Chemistry. In case you want to study in one of those classes please check my timetable out.
                                </em>
                            </p>
                            <p class="by-name">— John Doe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success" style="width:100px" data-toggle="modal" data-target="#edit-modal">Edit</button>
        <div class="modal" role="dialog" id="edit-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Edit</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>